<%- include ('partials/head') %>
<div class="container mx-auto">
  <form method="post" action="/movies/<%= movie.id %>">
    <div class="form-group">
      <label for="name">Movie Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="<%= movie.name %>"
        placeholder="Movie Name"
        required
      />
    </div>
    <div class="form-group">
      <label for="ratings">Ratings</label>
      <select
        class="form-control"
        id="ratings"
        required
        name="ratings"
        value="<%= movie.rating %>"
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input
        type="text"
        class="form-control"
        id="genre"
        name="genre"
        value="<%= movie.genre %>"
        placeholder="Movie Genre"
        required
      />
    </div>
    <div class="form-group">
      <label for="casts">Casts</label>
      <input
        type="text"
        class="form-control"
        id="casts"
        name="casts"
        value="<%= movie.cast %>"
        placeholder="Movie casts"
        required
      />
      <small id="emailHelp" class="form-text text-muted"
        >enter all casts seperated by , (comma)</small
      >
    </div>

    <div class="form-group">
      <label for="release">Release Date</label>
      <input
        type="date"
        class="form-control"
        id="release"
        name="release"
        value="<%= movie.releaseDate %>"
        placeholder="Movie Release Date"
        required
      />
    </div>
    <% if (error) { %>
    <p class="error" style="color: red"><%= error %></p>
    <% } %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
